//- createbook.pug

html
  head
    title Create New Book
  body
    h1 Create New Book
    form(action="/books", method="POST")
      label(for="title") Title:
      input(type="text", name="title", required)
      br
      label(for="author") Author:
      input(type="text", name="author", required)
      br
      label(for="publicationYear") Publication Year:
      input(type="number", name="publicationYear", required)
      br
      label(for="isbn") ISBN:
      input(type="text", name="isbn", required)
      br
      label(for="genre") Genre:
      input(type="text", name="genre", required)
      br
      button(type="submit") Create Book
